@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');



#wrapper{
	position: absolute;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	background-image: url("images/congrats.jpg");
	background-size: cover;
}

#header{
	background-color: black;
	color: white;
	padding: 8px 0px 6px 40px;
	height: 45px;
}

#home{
	display: inline;
	float: left;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 32px;
	margin-top: 0px;
	margin-right: 10px;
	color: #FF9800;
}

nav ul{
	display: inline;
	padding: 0px;
	float: right;
	margin-right: 12px;
	font-family: 'Montserrat', sans-serif;
}

 nav ul li{
 	display:inline-block;
 	list-style-type: none;
 	color: white;	
 	float: left;
 	margin-left: 12px;
 }

  nav ul li a{
 	color: white;
 	text-decoration: none;
 }
 
 h1{
 	font-family: 'Oswald', sans-serif;
 	text-align: center;
 }

 span.psw{
 	float: right;
 	padding-top: 16px;
 }

.container{
	padding: 16px;
}



.msg{
	font-family: 'Oswald', sans-serif;
	color:white;
	margin-right:10%;
}

